/** header menu */
#top-menu {
  background: #282828 !important;
  padding: 2px 10px 2px 12px !important;
}

#header {
  min-height: 78px !important;
  background: #3a3a3a !important;
  padding: 4px 16px 27px 16px !important;
  box-sizing: border-box !important;
}

#main-menu li a:hover {
  background: #7c7c7c !important;
  transition: 0.3s;
}

#query_form .buttons a {
  padding: 3px 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: black !important;
  font-size: bold;
}
#query_form .buttons a:hover {
  background-color: #383838;
  color: white !important;
  text-decoration: none;
  transition: 0.3s;
}

table td.status {
  padding: 10px;
}

.issues .status-8 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(150, 209, 253, 0.2);
}

.issues .status-10 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(253, 150, 244, 0.2);
}

.issues .status-3 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(165, 253, 150, 0.2);
}

.issues .status-4 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(253, 150, 150, 0.2);
}

.issues .status-1 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(74, 74, 74, 0.1);
}

.issues .status-2 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(251, 253, 150, 0.3);
}

.issues .status-7 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(253, 195, 150, 0.2);
}

.issues .status-9 .status {
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(253, 150, 244, 0.2);
}

table.list td.id a {
  padding: 5px;
  background: white;
  border-radius: 10px;
  text-align: center;
  color: black !important;
  box-sizing: content-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: block;
}

table.list td.assigned_to a {
  padding: 5px;
  background: white;
  border-radius: 10px;
  text-align: center;
  color: black !important;
  box-sizing: content-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: block;
}

table.list td.cf_20.user a {
  padding: 5px;
  background: white;
  border-radius: 10px;
  text-align: center;
  color: black;
  box-sizing: content-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: block;
  position: relative;
}

.issues .priority {
  position: relative;
  padding-left: 15px;
}

.issues .priority:before {
  position: absolute;
  top: calc(50% - 15px);
  left: 3px;
}

/** приоритет immediate */
.issues .priority-7 .priority:before {
  content: "⚑";
  display: inline-block;
  font-size: 20px;
  color: #a80000;
  opacity: 1;
  margin-right: 5px;
  transform: translateY(1px);
}

/** приоритет urgent */
.issues .priority-6 .priority:before {
  content: "⚑";
  display: inline-block;
  font-size: 20px;
  color: rgb(198, 42, 47);
  opacity: 1;
  margin-right: 5px;
  transform: translateY(1px);
}

/** приоритет high */
.issues .priority-5 .priority:before {
  content: "⚑";
  display: inline-block;
  opacity: 1;
  font-size: 20px;
  color: rgb(255, 197, 61);
  margin-right: 5px;
  transform: translateY(1px);
}

/** приоритет normal */
.issues .priority-4 .priority:before {
  content: "⚑";
  display: inline-block;
  font-size: 20px;
  color: rgb(62, 99, 221);
  opacity: 1;
  margin-right: 5px;
  transform: translateY(1px);
}

/** приоритет low */
.issues .priority-3 .priority:before {
  content: "⚑";
  display: inline-block;
  font-size: 20px;
  color: rgb(187, 187, 187);
  opacity: 1;
  margin-right: 5px;
  transform: translateY(1px);
}

/** */
.issues .assigned_to:not(:has(a)):before {
  content: "Not assigned";
  padding: 3px;
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-size: 10px;
  background: #949494;
}
div.wiki img {
  max-width: 800px !important;
  max-height: 800px !important;
  width: auto !important;
  height: auto !important;
  object-fit: contain !important;
}

table td.subject a {
  display: inline-block;
  color: black;
  padding: 10px;
}

tr.group td {
  padding: 12px 10px !important;
}

/** страница задачи первый экран */
#main #content div.issue {
  background: #efefef;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 34px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

#content {
  margin: 0 auto !important;
  max-width: 1500px;
  padding: 40px !important;
}

.issue hr{
  margin: 40px 0;
}

.issue .description p strong {
  font-size: 16px;
}

#tab-content-history .journal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 20px;
}

div.journal h4 img.gravatar {
  margin-left: 0 !important;
}

#content .contextual:first-child {
  transform: translateY(-11px);
}

#content .contextual {
  margin: 10px 0px;
}

#content>.contextual .icon {
  padding-top: 2px;
  padding-bottom: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  padding-left: 25px;
  border-radius: 15px;
  font-weight: bold;
  color: #000;
  background-color: white;
  background-position: 5px 50%;
}

#content .issue.details {
  margin-top: 10px;
}

.attributes .splitcontentleft {
  margin: 5px !important;

}

.attributes .splitcontentleft .attribute {
  border: 1px solid #d5d5d5;
  min-height: 45px !important;
  padding-left: 0px !important;
  align-items: stretch;
  overflow: hidden;
}

.attributes .splitcontentleft .attribute:first-child {
  border-radius: 15px 15px 0 0;
}
.attributes .splitcontentleft .attribute:last-child {
  border-radius: 0 0 15px 15px;
}

.attributes .splitcontentleft .estimated-hours.attribute .label {
  font-size: 10px !important;
}

.attributes .splitcontentleft .status.attribute .value {
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 7px;
  font-weight: bold !important;
  display: inline-block;
  border-radius: 6px;
  align-self: center;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  margin-left: 10px !important;
} 

div.issue .attributes .attribute .value {
  margin-left: 0 !important;
  margin-bottom: 0;
  float: none !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box !important;
  font-weight: normal !important;
}

div.issue .attributes .attribute .label {
  margin-left: 0 !important;
  background: #e4e4e4;
  margin-bottom: 0;
  float: none !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 12px !important;
  padding: 10px;
  text-align: right;
}

/** tracker select */
/** тема input */
#issue_tracker_id {
  height: 35px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  min-width: 150px;
  font-weight: bold;
}

#issue_subject {
  height: 35px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  min-width: 150px;
  font-weight: bold;
  margin-bottom: 20px;
}

/** номер задачи */
#content h2:first-child {
  margin: 0px 0 15px;
  display: inline-block;
  padding: 9px;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/** заголовок задачи */
.issue .subject h3 {
  margin-bottom: 40px !important;
  fz
}

/** родительская задача */
.details .subject p:has(> a.issue.parent) {
  display: inline-block;
  padding: 3px;
  border: 1px dotted #cacaca;
}

.details .subject a.issue.parent:before {
  content: "⮐";
  margin-right: 7px;
}

/** страница задачи, раздео подзадачи. одна подзадача */
.details #issue_tree tr.issue.child {
  display: inline-table;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px dotted #cacaca;
  margin-bottom: 10px;
}

.details #issue_tree tr.issue.child .status {
  width: 120px;
  min-width: 120px;
  box-sizing: border-box;
}
.details #issue_tree tr.issue.child .assigned_to {
  width: 200px;
  box-sizing: border-box;
  padding-left: 10px;
}
.details #issue_tree tr.issue.child .subject {
  min-width: 50%;
}

/** раздел связанные задачи */
#relations .issues tr.issue.child .status {
  width: 120px;
  min-width: 120px;
  box-sizing: border-box;
}

#history .tab-content {
  border: none !important;
}
